{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="portofolio site for humphrey mugambi">
    <meta name="author" content="humphrey mugambi">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="freelancer.css">
    <link rel="stylesheet" href="style.css">

    <title>Humphrey -Full stack developer</title>
  </head>
  <body id="page-top">
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class=" navbar-brand" href="#page-top">Humphrey Mugambi</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="hidden">
                        <a
                         href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a   href="#page-top">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a  href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a   href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a  href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="intro">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <img class=" img-circle img-responsive" src="img/hum1.jpg" alt="My picture">
                      <div class="intro-text">
                          <span class="name">Humphrey Mugambi</span>
                          <hr class="star-light">
                          <span class="skills">Web Designer - Data visualization Expert - Web Developer</span>
                          <ul class="list-inline">
                              <li>
                                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </header>
      <div class="jumbotron">
        <div class="container">

        <header>
          <div class="intro">
          </div>
          <section class="success" id="about">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 text-center">
                          <h2>About</h2>
                          <hr class="star-light light1">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-4 col-lg-offset-2">
                          <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                      </div>
                      <div class="col-lg-4">
                          <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
                      </div>
                  </div>
              </div>
          </section>
      <section id="portfolio">
              <div class="container-fluid bg-3 text-center">
                <h2 class="text-center" style="color:black">Some of my Work</h2><br>
                <hr class="star-light light1">
                <div class="row">
                  <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                     <img src="img/hum.jpg" alt="My first project">
                     <div class="caption">
                       <h3>Thumbnail label</h3>

                       <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                       <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                     </div>
                   </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                    <img src="img/hum.jpg" alt="My first project">
                    <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                   <div class="thumbnail">
                   <img src="img/hum.jpg" alt="My first project">
                   <div class="caption">
                     <h3>Thumbnail label</h3>
                     <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                     <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                   </div>
                 </div>
               </div>
                </div>
              </div><br>

              <div class="container-fluid bg-3 text-center">
                <div class="row">
                  <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                     <img src="img/hum.jpg" alt="My first project">
                     <div class="caption">
                       <h3>Thumbnail label</h3>
                       <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                       <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                     </div>
                   </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                    <img src="img/hum.jpg" alt="My first project">
                    <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                   <div class="thumbnail">
                   <img src="img/hum.jpg" alt="My first project">
                   <div class="caption">
                     <h3>Thumbnail label</h3>
                     <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                     <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                   </div>
                 </div>
               </div>
                </div>
              </div><br><br>
            </section>


            </header>
            <section id="contact">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2>Contact Me</h2>
                      <hr class="star-light light1">
                  </div>
                </div>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputname" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputname" placeholder="Name">
                    </div>
                  </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email Adress">
      </div>
    </div>
    <div class="form-group">
      <label for="inputnumber" class="col-sm-2 control-label">Phone Number</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputnumber" placeholder="Phone Number">
      </div>
    </div>
    <div class="form-group">
      <label for="inputtext" class="col-sm-2 control-label">Message</label>
      <div class="col-sm-10 ">
      <textarea class="form-control " cols="100" name="Message" rows="6" placeholder="Message"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10" align="center">
        <button type="submit" class="btn btn-success ">Send</button>
      </div>
    </div>
  </form>
              </div>
            </section>
          </div>
        </div>
            <footer class="text-center">
                <div class="footer-above">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="footer-col col-md-4">
                                <h3>Location</h3>
                                <p>Nyeri View<br>Dedan Kimathi University of Technology<br>P.O Box 657-10100<br>NYERI,KENYA</p>
                            </div>
                            <div class="footer-col col-md-4">
                                <h3>Around the Web</h3>
                                <ul class="list-inline">
                                    <li>
                                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-col col-md-4">
                                <h3>LOOKING FOR A SOFTWARE DEVELOPER</h3>
                                <p>Looking for a freelance web developer,web designer or data visualization expert <br>
                                  click <a href="mailto:mugagambi@gmail.com?subject=Freelance Hiring"><button type="button" class="btn btn-success">here</button>
                             </a>to hire me. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-below">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                Copyright &copy; Humphrey Mugambi 2016
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

  <script src="jquery-1.12.3.min.js">
  </script>
  <script src="bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
  <script>
  $('body').scrollspy({
      target: '.navbar-fixed-top'
  });
  $('.navbar-collapse ul li a').click(function(event) {
      $('.navbar-toggle:visible').click();
  });
  </script>
  </body>
  </html>
