{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="portofolio site for humphrey mugambi">
    <meta name="author" content="humphrey mugambi">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/freelancer.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Humphrey -Full stack developer</title>
  </head>
  <body id="page-top">
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class=" navbar-brand" href="#page-top">Humphrey Mugambi</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="hidden">
                        <a
                         href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a    href="{% url 'portfolio.views.index' %}">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a  href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a   href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a  href="#contact">Contact</a>
                    </li>
                    <li class="page-scroll">
                        <a  href="{% url 'blog.views.post_list' %}">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

     {% block content %}
       {% endblock %}
    <footer class="text-center">
                <div class="footer-above">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="footer-col col-md-4">
                                <h3>Location</h3>
                                <p>Nyeri View<br>Dedan Kimathi University of Technology<br>P.O Box 657-10100<br>NYERI,KENYA</p>
                            </div>
                            <div class="footer-col col-md-4">
                                <h3>Around the Web</h3>
                                <ul class="list-inline">
                                    <li>
                                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-col col-md-4">
                                <h3>LOOKING FOR A SOFTWARE DEVELOPER</h3>
                                <p>Looking for a freelance web developer,web designer or data visualization expert <br>
                                  click <a href="mailto:mugagambi@gmail.com?subject=Freelance Hiring"><button type="button" class="btn btn-success">here</button>
                             </a>to hire me. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-below">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                Copyright &copy; Humphrey Mugambi 2016
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

  <script src="{% static 'js/jquery-1.12.3.min.js' %}">
  </script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}">

  </script>
  </body>
  </html>
